<div class="content">

<div class="lp-section-1">
  <div class="content-1">
      <p>只有经历才能把道理变成意识并获得真正改变，不如边赚钱边环游世界</p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">探索机会</a></p>
    </div>
</div>

<div class="lp-section-2 clearfix">
  <div class="content-2">
    <div class="group">
      <h2>World·View</h2>
      <div class="short-line"></div>
    </div>
    <p>
      想要环游世界，却苦于没有钱、时间。听了很多道理，却始终很少改变。我们为想要探寻自我成长的人，
    <br>
      提供海外工作机会，让学习、工作、游历世界完美结合。
    </p>
  </div>
</div>

<div class="lp-section-3 clearfix">
  <div class="content-3">
    <div class="pros-title">
      <h2>不断积累人生经历，打怪升级</h2>
      <div class="short-line"></div>
    </div>

    <div class="pros">
      <img src="/images/pros1.png" alt="pros1">
      <br>
      <h3>安全的出行</h3>
      <p>我们会为用户免费购买保险，提供机场接机服务，当地人带你快速熟悉环境。</p>
    </div>

    <div class="pros">
      <img src="/images/pros2.png" alt="pros2">
      <br>
      <h3>深刻的体验</h3>
      <p>前期项目的全方位考察，提供靠谱的工作机会<br>融入当地，体验不一样的生活。</p>
    </div>

    <div class="pros">
      <img src="/images/pros3.png" alt="pros3">
      <br>
      <h3>选择多样</h3>
      <p>遍布全球的工作机会，各式各样的工作类型，<br>总有一款适合你。</p>
    </div>

 </div>
</div>

<!-- <h1 _ngcontent-cbk-29="" class="heading-line">&nbsp; 听听他们说什么  &nbsp;</h1> -->
  <h3>听听他们怎么说</h3>
  <div class="short-line"></div>
<div _ngcontent-cbk-22="" class="testimonials-flex-parent">
  <!--template bindings={}-->
  <div _ngcontent-cbk-22="" class="testimonials-flex-child" style="background-image: url(&quot;https://gis-production.s3.amazonaws.com/profile_photos/original/1487403946.JPG&quot;);">
    <div _ngcontent-cbk-22="" class="testimonails-overlay">
      <div _ngcontent-cbk-22="" class="testimonials-text">
        <div _ngcontent-cbk-22="" class="content">
          <p _ngcontent-cbk-22="">“跟一个国际化的团队合作可以学到很多东西，因为团队里的人都来自不同背景，有不同个性与想法。”</p>
          <p _ngcontent-cbk-22="">- Caroline Liu</p>
        </div>
      </div>
    </div>
  </div>
  <div _ngcontent-cbk-22="" class="testimonials-flex-child" style="background-image: url(&quot;https://gis-production.s3.amazonaws.com/profile_photos/original/1488468907.jpg&quot;);">
    <div _ngcontent-cbk-22="" class="testimonails-overlay">
      <div _ngcontent-cbk-22="" class="testimonials-text">
        <div _ngcontent-cbk-22="" class="content">
          <p _ngcontent-cbk-22="">“海外工作不仅仅是工作本身，当地的企业、民族文化都是完全不一样的体验，我感受到未来有更多的可能性。”</p>
          <p _ngcontent-cbk-22="">- Daniel Laush</p>
        </div>
      </div>
    </div>
  </div><div _ngcontent-cbk-22="" class="testimonials-flex-child" style="background-image: url(&quot;https://gis-production.s3.amazonaws.com/profile_photos/original/1488469042.jpg&quot;);">
    <div _ngcontent-cbk-22="" class="testimonails-overlay">
      <div _ngcontent-cbk-22="" class="testimonials-text">
        <div _ngcontent-cbk-22="" class="content">
          <p _ngcontent-cbk-22="">“在这里凡事没有标准答案，我开始大胆把自己的各种想法说出来，这对我的创造力是极大的释放”</p>
          <p _ngcontent-cbk-22="">- Jamie Chan</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lp-section-bottom clearfix">
  <div class="bottom-content">
      <h3><a class="btn btn-danger btn-lg" href="/users/sign_up">现在报名</a></h3>
      <div class="short-line"></div>
      <p>
        踏出第一步，开启你的下一段人生。
      </p>
  </div>
</div>

</div>
